.productCard {
  width: 325px;
  height: 250px;
  border-radius: 18px;
  box-shadow: 18px 18px 36.43px 0px rgba(211, 209, 216, 0.25);
  transition: 0.15s transform ease-in-out;
  color: black;

  &:hover {
    transform: scale(1.01);
  }
}

.imgContainer {
  position: relative;
  width: 323px;
  height: 165px;
  border-radius: 18px;
  // background: url('/images/food/roast.png') no-repeat center center/cover;

  .price {
    height: 34px;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0 15px;
    border-radius: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-weight: 400;
    font-size: 20px;
    box-shadow: 0px 7.1px 28.4px 0px rgba(254, 114, 76, 0.2);

    span {
      color: var(--main-color);
    }
  }

  .buyIcon {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 12px;
    right: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      filter: contrast(2);
    }
  }
}

.info {
  margin-top: 20px;

  h3 {
    color: black;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    margin-top: 10px;
    color: var(--grey-text-color);
    font-size: 14px;
    font-weight: 400;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
