.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productList {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 40px;
  justify-items: center;
}

.spinner {
  position: absolute;
  top: 50%;
}

.noProducts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
}

.error {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
