.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productList {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
}

.spinner {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noProducts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
}

.error {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showMore {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1199px) {
  .productList {
    gap: 30px;
  }
}

@media (max-width: 991px) {
  .header {
    padding-left: 70px;
  }

  .productList {
    padding-top: 35px;
  }
}
