.mainLayout {
  display: flex;
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0px 6.07px 24.29px 0px rgba(254, 114, 76, 0.2);
  border-radius: 30px;
  background-color: rgba(242, 225, 192, 0.063);
}

.content {
  width: 100%;
  min-height: 100vh;
  padding: 40px 60px 80px;
  padding-bottom: 80px;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;

  a {
    text-decoration: none;
    color: rgb(204 84 51);
    font-weight: 600;
  }
}

.menuBtn {
  display: none;
  width: 30px;
  height: 30px;
  color: var(--main-color);
  position: absolute;
  top: 50px;
  left: 15px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

@media (max-width: 1199px) {
  .mainLayout {
    max-width: 960px;
  }

  .content {
    padding: 40px 30px 80px;
  }
}

@media (max-width: 991px) {
  .mainLayout {
    max-width: 720px;
  }
  .overlay {
    display: block;
  }
  .menuBtn {
    display: block;
  }
}

@media (max-width: 767px) {
  .mainLayout {
    max-width: 540px;
  }

  .content {
    padding: 40px 15px 60px;
  }
}

@media (max-width: 575px) {
  .mainLayout {
    max-width: 100%;
    padding: 0 10px;
  }

  .menuBtn {
    top: 15px;
    left: 0px;
  }

  .footer {
    font-size: 7px;
  }
}
