.navigation {
  padding-top: 50px;
  flex-grow: 1; //можно задать кнопке margin-top:auto
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  display: flex;
  gap: 15px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  &:hover {
    color: var(--main-color-hover);
  }
}

.active {
  color: var(--main-color);
  font-weight: 700;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
}
