.navigation {
  padding-top: 150px;
  flex-grow: 1; //можно задать кнопке margin-top:auto
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s all;
  &:hover {
    color: var(--main-color-hover);
  }
}

.active {
  color: var(--main-color);
  font-weight: 700;
  transform: translate3d(5px, 0, 0);
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
}

.icon {
  width: 25px;
  height: 25px;
}
