.card {
  width: 325px;
  height: 250px;
  border-radius: 18px;
  box-shadow: 0px 0px 15px 5px #fe724c33;
  a {
    color: black;
  }
}

.imgContainer {
  position: relative;
  width: 323px;
  height: 165px;
  border-radius: 18px;
  background-size: cover;

  .price {
    height: 34px;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 0 15px;
    border-radius: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-weight: 400;
    font-size: 20px;
    box-shadow: 0px 7.1px 28.4px 0px rgba(254, 114, 76, 0.2);

    span {
      color: var(--main-color);
    }
  }

  .buyIcon {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 12px;
    right: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.info {
  margin-top: 20px;
  padding-left: 15px;

  h3 {
    color: black;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    margin-top: 10px;
    color: var(--grey-text-color);
    font-size: 14px;
    font-weight: 400;
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
