.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back {
    display: flex;
    align-items: center;

    svg {
      width: 42px;
      height: 42px;
      cursor: pointer;
      color: var(--main-color);
      transition: 0.3s all;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.cartPage {
  padding-top: 50px;
  width: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.emptyCartPage {
  min-height: 100vh;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.promo {
  margin-top: 35px;
  width: 100%;
  height: 60px;
  position: relative;
  input {
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-right: 170px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 100px;
    font-size: 16px;
    &::placeholder {
      color: var(--grey-text-color);
    }
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    height: 45px;
    width: 140px;
    transition: 0.2s all;

    &:hover {
      transform: scale(1.05) translateY(-50%);
    }
  }
}

.summary {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(241, 242, 243);
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 600;

    span {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .ruble {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-text-color);
  }

  .count {
    font-size: 14px;
    font-weight: 300;
    color: var(--grey-text-color);
  }
}

.buyBtn {
  margin-bottom: 50px;
}

.modal {
  width: 350px;

  background-color: rgb(248 238 218);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 30px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  button {
    color: black;
    background-color: rgb(254, 114, 76);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.promoApplied {
  color: red;
}

@media (max-width: 991px) {
  .title {
    padding-left: 70px;
  }
}

@media (max-width: 767px) {
  .title {
    padding-left: 50px;
  }
  .cartPage {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .cartPage {
    width: 100%;
    padding-top: 30px;
  }

  .promo {
    margin-top: 20px;
    input {
      padding-right: 115px;
    }
    button {
      width: 100px;
      height: 30px;
      padding: 0;
      right: 10px;
      font-size: 13px;
    }
  }
  .summary {
    margin-top: 20px;
  }

  .buyBtn {
    margin: 20px auto;
    min-width: 200px;
  }

  .modal {
    width: 280px;
    padding: 10px;
  }
}
