.authLayout {
  display: flex;
  min-height: 100vh;
}

.logo {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-basis: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgb(212, 214, 224);
}

@media (max-width: 767px) {
  .logo {
    display: none;
  }

  .content {
    flex-basis: 100%;
    width: 100%;
    border-left: none;
    padding: 10px;
  }
}
