.userProfile {
}

.avatar {
  filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}

.name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.email {
  margin-top: 7px;
  font-size: 14px;
  line-height: 19px;
  color: rgb(158, 161, 177);
}
